
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button style="width: 250px;" class="btn btn-outline-primary " id="dropdownBasic1" ngbDropdownToggle>Personas</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 250px;">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true" >
            
            <ngb-panel  *ngFor="let uni of this.Personas"  title="{{uni.name+' '+uni.lastname}}" id={{uni.name}} >
              <ng-template ngbPanelContent>
                  <p>{{uni.name}}</p>
                  <p>{{uni.lastname}}</p>
                  <p>{{uni.edad | number}}</p>
                  <p>{{uni.Biography}}</p>
                  <p>Telefonos:</p>
                  <p *ngFor="let tel of uni.telephones">{{"-"+tel}}</p>
              </ng-template>
            </ngb-panel>
        
        </ngb-accordion>
        </div>
      </div>
    </div>
  </div>